div{
	background:  lightgray;
	display: inline;
}

p{
	background: black;
	color:  white;
	display: inline-block;
	width: 400px;
}

span{
	background: yellow;
}

a{
	background:  pink;
}

img{
	display: block;
	width:
}

p a {

}
